.bodyIndex {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #2f323f;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #c49f3b;
    
}

.sectionSend {
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    font-size: 30px;
    font-weight: bolder;
    
}

.resultados{
    font-size: 30px;
    font-weight: bolder;
}

.h1Titulo{
    margin-top: 30px;
    font-size: 60px;
}